.customCard {
    background: #282c34 !important;
    color: azure;
}

.skillCard {
    background: #58595B !important;
    color: azure;
    margin: 1em;
    text-align: center;
}

.skillList {
    list-style: none;
}

.skillText {
    margin: 1em;
    font-size: large;
    inline-size: 90px;
    overflow: visible;
}