.customCard {
    background: #282c34 !important;
    color: azure;
}

.skillCard {
    background: #58595B !important;
    color: azure;
    margin: 1em;
    text-align: center;
}

.skillList {
    list-style: none;
}

.spaceEvenly {
    display: flex;
    justify-content: space-between;
}
