.customCard {
    background: #282c34 !important;
    color: azure;
}

.projectCard {
    background: #58595B !important;
    color: azure;
    margin: 1em;
}

.viewGithub {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}